* {
	margin: auto;
}

body {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.center {
	display: table-cell;
	vertical-align: middle;
}

#message {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 40px;
	color: #999999;
	text-align: center;
	margin: 20px;
}

#puzzle {
	margin-left: auto;
	margin-right: auto; 
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	border: 2px solid #CCCCCC;
	background-color: #EEEEEE;
	padding: 20px;
	width: 45px;
	height: 45px;
}